html {  }
head {  }
script {  }
meta {  }
title {  }
link {  }
base {  }
style {  }
body {  }
div {  }
header {  }
span {  }
img {  }
a { color: rgb(255, 255, 255); font-size: 14px; opacity: 0.7; }
i {  }
h3 { float: left; }
nav {  }
li {  }
form {  }
ul { transform: translate3d(-300%, 0px, 0px); transition-duration: 500ms; }
button {  }
h6 {  }
h1 {  }
input {  }
small {  }
footer {  }
p { color: rgb(255, 255, 255); }
